body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

main {
    padding: 20px;
}

.product-details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

.main-image {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-width: 30%;
}

.main-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    text-align: left;
}

.product-info h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.product-info p {
    font-size: 20px;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.add-to-cart:hover {
    background-color: #4CAF50;
}

.product-description {
    margin-bottom: 20px;
}

.product-description h3 {
    margin-bottom: 10px;
    color: rgb(11, 132, 11);
    font-weight: 1000;
}

/* Галерея зображень */
.product-gallery {
    margin: 40px auto;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 48%; /* Два фото в ряд */
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}